*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background-color: #0f172a;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.posters{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap: 80px;
    justify-content: space-around;
    justify-content: center;
    height: 100%;
    padding-bottom: 1em;
    padding-top:1em;
    margin-top: 2em;
    /* border:1px solid black; */
    
} 
.posters div p{
    color:#94a3b8;
    margin:5px
}

.posters div > p:first-of-type{
    color:#facc15;
}

.posters div img{
    
    border-radius: 10px;
    
    
}
.posters div{
    border:1px solid black;
    
    height: 400px;
    padding-top:20px;
    height:100%;
    padding: 15px;
    background-color:#1e293b;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    
}
.posters div:hover{
    
    border:1px solid #facc15;
    transform: scale(1.03); 
    background-color:#606060;
    transition: background .5s ease-in-out;
     
    
}

.main{
    text-align: center;
    padding: 10px;
    margin: 20px;
    
}
.main h1{
    margin-bottom: 40px;
    color: #f8fafc;
}
input{
    width: 20em;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid rgb(146, 137, 137);
    /* color:#94a3b8; */

}
input:focus{
    border:1px solid #000000 ;
}
button{
    font-size: 15px;
    margin: 20px;
    width: 10em;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid rgb(146, 137, 137);
    background:linear-gradient(90deg,lightblue,silver);
    color:black;
    font-weight:bold;

    
}
 button:hover {
  filter: brightness(1.2);    /* make it glow brighter */
  transform: scale(1.03);     /* slight grow */
}


button:focus{
    border:2px solid darkblue;
}